* {
    margin: 0;
    padding: 0;
}


.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11%;
    width: 80%;
    margin-left: 10%;
}

.squad {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
    border: 1px solid black;
}


.squad p{
    margin-top: 40%;
    font-size: 18px;
}
.inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
}


input:focus,
button {
    box-shadow: 0 0 0 0;
    outline: 0;
}

input {
    margin: 5px;
    padding: 5px;
    border: 0.1px solid black;
    width: 10%;
    text-align: center;
}

button{
    margin-top: 2%;
    padding: 1%;
}


/* Removendo os botões do input */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}